<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StockFilePath" value="C:\Users\van-d\Documents\Cordners\stock.csv" />
    <add key="SalesPriceOutput" value="C:\Users\van-d\Documents\Cordners\sale_price" />
    <add key="ImportProductsOutput" value="C:\Users\van-d\Documents\Cordners\import_products" />
    <add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\van-d\descriptions.xls;Extended Properties='Excel 12.0;IMEX=1;'" />
    <add key="AccessConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\van-d\Documents\Cordners\Data;Extended Properties=dBASE III;" />
    <add key="CsvReport" value="C:\Users\van-d\Documents\Cordners\csv_report.csv" />
    <add key="OnSaleReport" value="C:\Users\van-d\Documents\Cordners\onsale_report.csv" />
    <add key="AllBranch" value="False" />
    <add key="ExecuteSimpleJob" value="C:\Users\van-d\source\repos\ScheduleStockManager\ScheduleStockManager\bin\Debug\ScheduleStockManager.exe" />
    <add key="ExecuteConfigJob" value="C:\Users\van-d\source\repos\ScheduleStockManager\ScheduleStockManager\bin\Debug\ScheduleStockManager.exe" />
    <add key="ExecuteEuroJob" value="C:\Users\van-d\source\repos\ScheduleStockManager\ScheduleStockManager\bin\Debug\ScheduleStockManager.exe" />
  </appSettings>
  <connectionStrings>
    <add name="CordnersEntities" connectionString="metadata=res://*/Cordners.csdl|res://*/Cordners.ssdl|res://*/Cordners.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EGEA1N3\SQLEXPRESS;initial catalog=Cordners;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>