<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="StockFilePath" value="C:\Users\van-d\Desktop\stock.csv"/>
    <add key="SalesPriceOutput" value="C:\Users\van-d\Documents\Cordners\DBF\DBF\sale_price"/>
    <add key="ImportProductsOutput" value="C:\Users\van-d\Documents\Cordners\DBF\DBF\import_products"/>
    <add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\van-d\descriptions.xls;Extended Properties='Excel 12.0;IMEX=1;'"/>
    <add key="AccessConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\van-d\Documents\Cordners\DBF\DBF\;Extended Properties=dBASE III;"/>
    <add key="CsvReport" value="C:\Users\van-d\Documents\Cordners\csv_report.csv"/>
    <add key="AllBranch" value="False"/>
    <add key="ExecuteSimpleJob" value="C:\Users\van-d\source\repos\ScheduleStockManager\ScheduleStockManager\bin\Debug\ScheduleStockManager.exe"/>
    <add key="ExecuteConfigJob" value="C:\Users\van-d\source\repos\ScheduleStockManager\ScheduleStockManager\bin\Debug\ScheduleStockManager.exe"/>
  </appSettings>
</configuration>
