<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="StockFilePath" value="C:\Users\van-d\Desktop\stock.csv"/>
    <add key="SalesPriceOutput" value="C:\Users\van-d\sale_price"/>
    <add key="ImportProductsOutput" value="C:\Users\van-d\Desktop\import_products"/>
    <add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\van-d\descriptions.xls;Extended Properties='Excel 12.0;IMEX=1;'"/>
    <add key="AccessConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\van-d\Documents\Cordners\DBF\DBF\Stonks\Stonks\;Extended Properties=dBASE III;"/>
    <add key="CsvReport" value="C:\Users\van-d.DESKTOP-M629A4M\csv_report.csv"/>
    <add key="AllBranch" value="False"/>
    <add key="StartTime" value="18:00"/>
    <add key="EndTime" value="18:37"/>
    <add key="Season" value="S19"/>
    <add key="Split_Stock_File" value="True"/>
    <add key="Split_OutputPath" value="C:\Users\van-d.DESKTOP-M629A4M\Desktop\stock"/>
    <add key="Split_Delimiter" value="5000"/>
  </appSettings>
</configuration>
